---
layout: default
---

<div class="row">

    <div class="col-md-4">

        <div class="row">

            <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">

                <img src="assets/images/profile.jpg" class="img-circle img-responsive img-thumbnail">

            </div>

            <div class="breather-lg"></div>

            <div class="col-md-11 col-md-offset-1">

            <h3>Recent Posts</h3>

            <div class="list elevated-1">

                {% assign posts = (site.pages | sort:"date" | reverse ) %}
                {% for post in posts limit:5 %}
                {% if post.category == 'Posts' %}

                <div class="list-item">

                    <div class="list-item-content">

                        <div class="list-item-primary-content">

                            <p class="line-2">
                                <a href="{{ post.url | prepend: site.baseurl }}">
                                    {{ post.title }}
                                </a>
                            </p>

                            <p class="line-3">{{ post.date | date_to_string}}</p>

                        </div>
    
                    </div>

                </div>

                {% endif %}
                {% endfor %}

                </div>

            </div>

        </div>

    </div>

    <div class="col-md-7 col-md-offset-1 col-xs-12">

        <p class="lead">Hi there, I'm Andrew and I'm a proud father of three <s>tough</s> beautiful girls and a Platform Engineer at <a href="https://www.moltin.com" target="_blank"><strong>moltin</strong></a>.</p>
        <p class="lead">I work on several open source projects and many private ones. I only drink one cup of coffee a day, otherwise it puts me off my darts.</p>
        <p class="lead">I communicate in <kbd>gif</kbd> format more than I probably should and dance on tables when I'm drunk at tech conferences. I'm sure a psychiatrist would have much fun with me, many insights.</p>
        <p class="lead">I get imposter syndrome on a daily basis, it makes me work harder: but never hard enough. I'd love to have the time to develop my perfectionism.</p>
        <p class="lead">My online dating profile would be much better thought out. It wouldn't have pictures of me dancing on tables though. Maybe. Probably. OK, it would, but you won't find them here.</p>

        <hr />

        <div class="row">

            <div class="col-xs-3">
                <p class="text-center">
                    <a href="https://twitter.com/andrew_waters" target="_blank">
                        <i class="icon icon-xxl fa fa-twitter"></i>
                    </a>
                </p>
            </div>

            <div class="col-xs-3">
                <p class="text-center">
                    <a href="https://github.com/andrew-waters" target="_blank">
                        <i class="icon icon-xxl fa fa-github"></i>
                    </a>
                </p>
            </div>

            <div class="col-xs-3">
                <p class="text-center">
                    <a href="https://uk.linkedin.com/in/andrewwaters" target="_blank">
                        <i class="icon icon-xxl fa fa-linkedin"></i>
                    </a>
                </p>
            </div>

            <div class="col-xs-3">
                <p class="text-center">
                    <a href="https://www.facebook.com/andrew.waters" target="_blank">
                        <i class="icon icon-xxl fa fa-facebook"></i>
                    </a>
                </p>
            </div>

        </div>

        <hr />

    </div>

</div>
